.table,
.row {
  width: 100%;
}
.row {
  display: flex;
  border-bottom: 2px solid #888;
}
.title {
  font-size: 24px;
  font-weight: 600;
  background-color: lightblue;
}
span {
  width: 20%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3;
  &.check {
    max-width: 50px;
  }
}
.radio-conainer {
  width: 100px;
  display: flex;
  align-items: center;
}

.forms-container {
  display: flex;
  justify-content: space-around;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  span.label {
    width: 100%;
    font-weight: 700;
    color: cadetblue;
  }
}